{% load i18n %}
<li class="menu-title">
  <span>{% translate "Application" %}</span>
</li>
<li>
  <a href="{% url 'web:home' %}" {% if active_tab == 'dashboard' %}class="menu-active"{% endif %}>
    <i class="fa fa-home h-4 w-4"></i>
    {% translate "Dashboard" %}
  </a>
</li>
<li>
  <a href="{% url 'facebook_ads:campaign_selection' %}" {% if active_tab == 'campaigns' %}class="menu-active"{% endif %}>
    <i class="fa fa-bullhorn h-4 w-4"></i>
    {% translate "Campagnes" %}
  </a>
</li>
<li>
  <details {% if active_tab == 'optimization' %}open{% endif %}>
    <summary {% if active_tab == 'optimization' %}class="menu-active"{% endif %}>
      <i class="fa fa-chart-line h-4 w-4"></i>
      {% translate "Optimization" %}
    </summary>
    <ul>
      <li>
        <a href="{% url 'facebook_ads:optimization_dashboard' %}">
          <i class="fa fa-dashboard h-4 w-4"></i>
          {% translate "Dashboard" %}
        </a>
      </li>
      <li>
        <a href="{% url 'facebook_ads:strategy_list' %}">
          <i class="fa fa-list h-4 w-4"></i>
          {% translate "Strategies" %}
        </a>
      </li>
      <li>
        <a href="{% url 'facebook_ads:optimization_logs' %}">
          <i class="fa fa-file-text h-4 w-4"></i>
          {% translate "Logs" %}
        </a>
      </li>
    </ul>
  </details>
</li>
<li>
  <a href="{% url 'facebook_ads:settings' %}" {% if active_tab == 'settings' %}class="menu-active"{% endif %}>
    <i class="fa fa-cog h-4 w-4"></i>
    {% translate "Settings" %}
  </a>
</li>
{% if not user.is_anonymous %}
<li class="menu-title">
  <span>{% translate "My Account" %}</span>
</li>
<ul class="menu-list">
  <li>
    <a href="{% url 'subscriptions:subscription_details' %}" {% if active_tab == 'subscription' %}class="active"{% endif %}>
      <i class="fa fa-repeat h-4 w-4"></i>
      Subscription
    </a>
  </li>
  <li>
    <a href="{% url 'users:user_profile' %}" {% if active_tab == 'profile' %}class="menu-active"{% endif %}>
      <i class="fa fa-user h-4 w-4"></i>
      {% translate "Profile" %}
    </a>
  </li>
  {% if user.has_usable_password %}
  <li>
    <a href="{% url 'account_change_password' %}" {% if 'accounts/password/change' in request.path %}class="menu-active"{% endif %}>
      <i class="fa fa-unlock-alt h-4 w-4"></i>
      {% translate "Change Password" %}
    </a>
  </li>
  {% endif %}
  <li>
    <a href="{% url 'account_logout' %}" {% if 'accounts/logout' in request.path %}class="menu-active"{% endif %}>
      <i class="fa fa-sign-out h-4 w-4"></i>
      {% translate "Sign out" %}
    </a>
  </li>
</ul>
{% endif %}
{% if user.is_superuser %}
<li class="menu-title">
  <span>{% translate "Admin" %}</span>
</li>
<ul class="menu-list">
  <li>
    <a href="{% url 'dashboard:dashboard' %}" {% if active_tab == 'project-dashboard' %}class="menu-active"{% endif %}>
      <i class="fa fa-bar-chart-o h-4 w-4"></i>
      {% translate "Project Dashboard" %}
    </a>
  </li>
  <li>
    <a href="{% url 'support:hijack_user' %}" {% if active_tab == 'support' %}class="menu-active"{% endif %}>
      <i class="fa fa-user-secret h-4 w-4"></i>
      {% translate "Impersonate a User" %}
    </a>
  </li>
</ul>
{% endif %}
